@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lora&family=Open+Sans&family=Roboto+Mono&family=Roboto+Slab&family=Roboto:wght@500&family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.my-navbar {
  width: 100%;
}
.brand {
  width: 300px;
  margin-left: 10%;
  font-size: 50px;
  font-weight: 900;
  font-family: "Varela Round";
  background: rgb(240, 39, 162);
  background: linear-gradient(
    90deg,
    rgba(240, 39, 162, 1) 0%,
    rgba(219, 63, 218, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.logo {
  display: flex;
  align-items: center;
  font-family: "roboto Mono", monospace;
  font-size: 45px;
  height: 100%;

  margin-left: 10%;
}

.welcome-note {
  font-family: "Varela Round", sans-serif;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    119deg,
    rgba(255, 255, 255, 0.1735159817351598) 8%,
    rgba(255, 224, 250, 0.1735159817351598) 20%,
    rgba(192, 255, 255, 0.53) 100%
  );
}
.heading-note {
  font-size: 70px;
}
.self-intro-section {
  font-family: "Varela Round";
  min-height: 90vh;
  background-color: #f9fcff;
}
.self-intro {
  border-radius: 20px;
  background-color: #dff0ff;
  padding: 5%;
}
.dp {
  border: solid 5px lightblue;
  width: 300px;
  border-radius: 50%;
}
@media (max-width: 720px) {
  .dp {
    width: 200px;
    margin: 10%;
  }
  .brand {
    display: flex;
    align-items: center;
    font-size: 30px;
    height: 70px;
  }
}
.social-logo-container {
  display: flex;
  align-items: center;
}
.btn-social {
  height: 32px;
  margin-left: 10px;
}
@media (max-width: 720px) {
  .btn-social {
    height: 25px;
  }
  .social-logo-container {
    width: 100%;
  }
}
.resume {
  padding: 3px;
  text-decoration: none;
  color: rgb(0, 89, 255);
  border: 2px solid rgb(0, 115, 255);
  border-radius: 4px;
}

.mail-add {
  margin-left: 10px;
  display: inline;
  font-size: 20px;
}
.skils-section {
  display: flex;
}
.skils-container {
  font-family: "varela Round";
}
.skils-card {
  min-height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 5%;
}
@media (max-width: 750px) {
  .skils-card {
    display: flex;
    background-color: rgb(213, 247, 255);
  }
}
.logo-skils {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.edu-container {
}
.edu-card {
  margin: 20px;
  min-height: 200px;
  font-family: "varela Round";
  padding: 5%;
  border-radius: 10px;
  background: rgb(255, 224, 250);
  background: linear-gradient(
    119deg,
    rgba(255, 211, 248, 0.367) 20%,
    rgb(192, 226, 255) 100%
  );
}
.bold {
  font-weight: bold;
}

.heart {
  color: rgb(227, 0, 23);
}
